@use './mixin' as *;

html,
body,
#root {
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  font-family: var(--font-primary-config);
  color: var(--text-color-primary);
}

html,
body {
  scroll-behavior: smooth;
}

.container {
  margin: auto;
  width: 85%;
  padding: 1em 0;
}

.logo {
  margin-bottom: 1em;
}
