@use './mixin' as *;

html,
body,
#root {
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  font-family: var(--font-primary-config);
  color: var(--text-color-primary);
  background-color: var(--app-background-color);
  @include tv {
    font-size: 1.8rem;
  }
}

html,
body {
  scroll-behavior: smooth;
}

.container {
  margin: 0 2.5%;
  padding: 1em 0;
  @include desktop {
    margin: 0 10%;
  }
}

.logo {
  margin-bottom: 2.06em;
}
