@use '../../../../../styles/abstracts/mixin' as *;

.iconLink {
  margin-right: 0.9em;
}

.instructionHeading {
  margin-bottom: 1.6rem;
}

.instructions,
.back {
  font-size: 0.85em;
}

.heading {
  margin-bottom: 0.25em;
}

.time {
  margin: 0.625em 0 2.3em;
}

.paragraph {
  margin-bottom: 2.25em;
  font-family: var(--font-secondary-config);
  font-weight: 500;
}

.back {
  margin-bottom: 2.25em;
}

.content {
  @include tablet {
    display: flex;
  }
}

.leftContent {
  @include tablet {
    max-width: 25%;
    margin-right: 2.75em;
  }
}

.leftContent,
.rightContent {
  @include tablet {
    flex: 1;
  }
}

.detail {
  white-space: pre-line;
  line-height: 2.4rem;
}

.company {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 1.2rem;
  margin-bottom: 2.12em;
}

.companyName {
  text-transform: capitalize;
}

.companyMedia {
  --media-dimension: 4.2rem;

  width: var(--media-dimension);
  height: var(--media-dimension);
  grid-row: 1 /-1;
  border-radius: 0.4rem;
}
