.root {
  font-family: var(--font-secondary-config);
}

.inputGroup {
  display: flex;
  align-items: center;
  width: max-content;
  margin-left: 0.5em;
  margin-bottom: 0.85em;
  font-weight: 500;
  text-transform: capitalize;
}

.radio,
.checkbox {
  --controls-dimension: 1.8rem;

  margin-right: 0.75em;
  height: var(--controls-dimension);
  width: var(--controls-dimension);
}

.locationGroup {
  margin-top: 2em;
}

.inputLabel {
  font-size: 1.4rem;
}

.inputCity {
  margin: 1em 0 1.65em;
}

.headingLocation {
  font-weight: 700;
  font-size: 0.85em;
  text-transform: uppercase;
  color: var(--color-grey);
}

.formLocation {
  margin-bottom: 1.65em;
}
